<<<<<<< HEAD
@media(max-width: 920px) {
    .wrapper {
        padding: 0;
    }

    .header__main a img {
        display: none;
    }

    .header__contact {
        display: none;
    }

    .header__main {
        padding-top: unset;
        position: relative;
    }

    .header__main ul {
        background-color: white;
        position:absolute;
        top: 100%;
        width: 100%;
        left: 0;
        transform: scale(1,0);
        transform-origin: top;
        transition: 250ms ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .burger {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 60px;
        height: 45px;
        cursor: pointer;
        display: block;
        transform: rotate(180deg);
    }

    .burger span {
        position: absolute;
        width: 100%;
        height: 6px;
        background-color: black;
        top: 0;
        left: 0;
        border-radius: 5px;
        transition: opacity 0.5s, bottom 0.2s 0.2s, top 0.2s 0.2s, transform 0.2s 0.2s;
    }

    .burger span:nth-child(1) {
        width: 20px;
    }

    .burger span:nth-child(2) {
        width: 38px;
    }

    .burger span:nth-child(3) {
        width: 17px;
    }

    .burger.active span:nth-child(1) {
        top: calc(50% - 5px);
        transform: rotate(3645deg);
        transform-origin: center;
    }

    span:nth-child(2) {
        top: calc(50% - 3px);
    }

    .burger.active span:nth-child(2) {
        opacity: 0;
        transform: rotateY(90deg);
    }

    span:nth-child(3) {
        top: unset;
        bottom: 0;
    }

    .burger.active span:nth-child(3) {
        bottom: calc(50% - 5px);
        transform: rotate(-3645deg);
        transform-origin: center;
    }

}

/*@media(max-width: 390px) {*/
/*    .wrapper {*/
/*        padding: 0;*/
/*    }*/

/*    .header__main a img {*/
/*        display: none;*/
/*    }*/

/*    .header__contact {*/
/*        display: none;*/
/*    }*/

/*    .header__main {*/
/*        padding-top: unset;*/
/*        position: relative;*/
/*    }*/

/*    .header__main ul {*/
/*        height: 844px;*/
/*        position:absolute;*/
/*        top: 100%;*/
/*        width: 100%;*/
/*        left: 0;*/
/*        transform: scale(1,0);*/
/*        transform-origin: top;*/
/*        transition: 250ms ease-in-out;*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*    }*/
/*}*/


@media (max-width: 395px) {

=======
@media (max-width: 375px) {
    
>>>>>>> c40b3b04e68e910ecc79fa864973c88a33162d60
    .header__main ul {
        display: none;
    }

    .header__contact {
        display: none;
    }
<<<<<<< HEAD

=======
>>>>>>> c40b3b04e68e910ecc79fa864973c88a33162d60
    header :nth-child(1) {
        position: absolute;
        right: 50px;
        top: 10px;
    }
<<<<<<< HEAD

    .technical {
        background-color: #44BCFF0D;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .technical__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .technical__left {
        margin: 0;
    }
    .technical__left h2 {
        font-size: 28px;
        margin-bottom: 55px;
    }

    .technical__left p {
        padding-top: 16px;
        font-size: 14px;
        font-weight: 600;
    }
    .technical__right2 {
=======
    .wrapper {
        padding: 0;
        margin: 0;
    }
    .intro {
        width: 375px;
        height: 840px;
    }
    .intro__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro__left {
        width: 350px;
        margin-left: 25px;
    }
    .intro__left::after {
        visibility: hidden;
    }
    .intro__main::after {
        visibility: visible;
    }
    .intro__left h2 {
        font-size: 30px;
    }
    .intro__left h3 {
        font-size: 30px;
        padding-top: 10px;
    }
    .intro__left :nth-child(3) {
        font-size: 14px;
        padding-top: 20px;
    }
    .intro__btn {
        width: 155px;
        height: 50px;
        margin-right: 12px;
    }
    .intro__btn2 {
        width: 155px;
        height: 50px;
    }
    .intro__btn a {
        font-size: 15px;
    }
    .intro__btn2 a {
        font-size: 15px;
    }
    .tittle a {
        font-size: 10px;
        padding-top: 0;
    }
    .tittle {
        top: 390px;
        position: absolute;
    }
    .intro__right {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        margin-right: 75px;
    }
    .intro__right img {
        width: 345px;
        height: 380px;
    }
    .benefits {
        display: flex;
        flex-direction: column;

    }
    .left__side {
        margin-left: 25px;
    }
    .left__side h1 {
        display: block;
        padding-top: 70px;
    }
    .left__side h2 {
        display: block;
        padding-top: 28px;
    }
    .left__side p {
        display: none;
    }
    .img__benefits img {
        width: 325px;
        height: 356px;
    }
    .img__benefits {
        padding-top: 45px;
    }
    .description::after {
        visibility: hidden;
    }
    .left__side h1::after {
        visibility: visible;
    }
    .description h1 {
        display: none;
    }
    .description h2 {
        display: none;
    }
    .right__side {
        width: 350px;
        padding: 0;
        margin-left: 25px;
    }
    .description p {
        font-size: 14px;
    }
    .description__benefit article {
        font-size: 14px;
    }
    .service__top {
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        padding-top: 52px;
        margin-left: 14px;
    }
    .service__bot {
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        margin-left: 14px;
        margin-top: 9px;
    }
    .service__block {
        width: 345px;
        height: 320px;
    }
    .service__block-img {
        margin-top: 38px;
    }
    .service h1 {
        font-size: 28px;
        padding: 60px 0 50px 25px;
    }
    .service__block-p {
        padding: 40px 0 0 220px;
    }
    .service__block-p2 {
        padding: 30px 0 0 220px;
    }
    .service__block-p3 {
        padding: 20px 0 0 220px;
    }
    .buy-rent h1 {
        font-size: 28px;
        padding: 66px 0 0px 25px;
        width: 254px;
        height: 42px;
    }
    .buy__rent-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 98px 36px 50px 25px;
    }
    .buy__rent-img img {
        width: 300px;
        height: 300px;
    }
    .buy__rent-text :nth-child(1) {
        font-size: 20px;
    }
    .buy__rent-text :nth-child(2) {
        font-size: 14px;
        padding-top: 14px;
    }
    .buy__rent-btn {
        width: 142px;
        height: 43px;
        margin: 0;
        margin-right: 28px;
    }
    .buy__rent-btn2 {
        width: 142px;
        height: 43px;
        margin: 0;
    }
    .buy__rent-btn a {
        font-size: 14px;
    }
    .buy__rent-btn2 a {
        font-size: 14px;
    }
    .buy__rent-buttons {
        margin-top: 16px;
        width: 315px;
        display: flex;
    }
    .buy__rent:nth-child(2) {
        margin-top: 75px;
    }
    .buy__rent::after {
        display: block;
    }
    .service::after {
        display: block;
    }
    .buy-rent h1::before {
        display: block;
    }
        .technical {
            background-color: #44BCFF0D;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .technical__main {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .technical__left {
            margin: 0;
        }
        .technical__left h2 {
            font-size: 28px;
            margin-bottom: 55px;
        }
        
        .technical__left p {
            padding-top: 16px;
            font-size: 14px;
            font-weight: 600;
        }
        .technical__right2 {
>>>>>>> c40b3b04e68e910ecc79fa864973c88a33162d60
        width: 325px;
        height: 356.87px;
        display: block;
    }
    .technical__right2 img {
        width: 325px;
        height: 356.87px;
<<<<<<< HEAD
    }
    .reminder {
        opacity: 0;
    }

    .technical__right {
        background: url(./img/technical__background.png) no-repeat 0 100%/ 100%;
        padding-top: 0;
        display: none;
    }
    .parts {
        display: flex;
        justify-content: center;
    }
    .parts__main {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .parts__left img {
        width: 325px;
        height: 356.87px;
    }
    .parts__left {
        width: 325px;
        height: 356.87px;
        margin: 0;
    }

    .parts__right {
        padding-left: 25px;
    }

    .parts__right h2 {
        font-size: 28px;
        padding-top: 53px;
        padding-bottom: 51px;
        margin: 0;
    }

    .parts__right p {
        display: flex;
        align-items: center;
    }

    .service {
        padding: 0;
        margin: 0;
        width: 100%;
        background-color: #44BCFF0D;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


    .service h1 {
        font-size: 28px;
        padding: 0;
        color: #27292E;
    }


    .service h1::after {
        content: url(./img/group__circles.png);
        position: absolute;
        right: 1265px;
        top: 1800px;
        z-index: -1;
    }


    .service__top {
        display: flex;
        column-gap: 37px;
        justify-content: center;
        padding-top: 9px;
        flex-direction: column;
    }


    .service__bot {
        display: flex;
        column-gap: 37px;
        margin-top: 52px;
        justify-content: center;
        padding-bottom: 9px;
        flex-direction: column;
    }


    .service__block {
        width: 346.6px;
        height: 293px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0px 30.539325714111328px 61.078651428222656px 10.17977523803711px #EBEBEB33;
    }


    .service__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .service__wrapper :nth-child(2) {
        font-size: 24px;
        color: #002533;
        padding-top: 25px;
    }


    .service__wrapper :nth-child(3) {
        padding-top: 28px;
    }


    .service__block-img {
        border-radius: 100px;
        background-color: #44BCFF;
        box-shadow: 0px 4px 70px rgba(91, 91, 91, 0.05);
        width: 97px;
        height: 97px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }


    .service__block-p {
        padding: 81px 39px 0px 326px;
    }


    .service__wrapper2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .service__wrapper2 :nth-child(2) {
        font-size: 24px;
        color: #002533;
        padding-top: 25px;
    }


    .service__wrapper2 :nth-child(3) {
        padding-top: 20px;
        text-align: center;
    }


    .service__block-p2 {
        padding: 50px 39px 0px 326px;
    }


    .service__wrapper3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .service__wrapper3 :nth-child(2) {
        font-size: 24px;
        color: #1F1F1F;
        padding-top: 16px;
    }


    .service__wrapper3 :nth-child(3) {
        padding-top: 20px;
        text-align: center;
    }


    .service__wrapper4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .service__wrapper4 :nth-child(2) {
        font-size: 24px;
        color: #1F1F1F;
        padding-top: 16px;
    }


    .service__wrapper4 :nth-child(3) {
        padding-top: 20px;
        text-align: center;
    }


    .service__block-p3 {
        padding: 24px 39px 0px 326px;
    }
=======
        }
        .reminder {
            opacity: 0;
        }
        
        .technical__right {
            background: url(./img/technical__background.png) no-repeat 0 100%/ 100%;
            padding-top: 0;
            display: none;
        }
        .parts {
            display: flex;
            justify-content: center;
        }
        .parts__main {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
        }
        
        .parts__left img {
            width: 325px;
            height: 356.87px;
        }
        .parts__left {
            width: 325px;
            height: 356.87px;
            margin: 0;
        }
    
        .parts__right {
            padding-left: 25px;
        }
        
        .parts__right h2 {
            font-size: 28px;
            padding-top: 53px;
            padding-bottom: 51px;
            margin: 0;
        }
        
        .parts__right p {
            display: flex;
            align-items: center;
        }
>>>>>>> c40b3b04e68e910ecc79fa864973c88a33162d60
}
