@media (max-width: 375px) {
    
    .header__main ul {
        display: none;
    }
    .header__contact {
        display: none;
    }
    header :nth-child(1) {
        position: absolute;
        right: 50px; 
        top: 10px;
    }
    .mobile-menu {
        display: block;
        position: absolute;
    }
    .wrapper {
        padding: 0;
        margin: 0;
    }
    .intro {
        width: 375px;
        height: 840px;
    }
    .intro__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro__left {
        width: 350px;
        margin-left: 25px;
    }
    .intro__left::after {
        visibility: hidden;
    }
    .intro__main::after {
        visibility: visible;
    }
    .intro__left h2 {
        font-size: 30px;
    }
    .intro__left h3 {
        font-size: 30px;
        padding-top: 10px;
    }
    .intro__left :nth-child(3) {
        font-size: 14px;
        padding-top: 20px;
    }
    .intro__btn {
        width: 155px;
        height: 50px;
        margin-right: 12px;
    }
    .intro__btn2 {
        width: 155px;
        height: 50px;
    }
    .intro__btn a {
        font-size: 15px;
    }
    .intro__btn2 a {
        font-size: 15px;
    }
    .tittle a {
        font-size: 10px;
        padding-top: 0;
    }
    .tittle {
        top: 390px;
        position: absolute;
    }
    .intro__right {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        margin-right: 75px;
    }
    .intro__right img {
        width: 345px;
        height: 380px;
    }
    .benefits {
        display: flex;
        flex-direction: column;

    }
    .left__side {
        margin-left: 25px;
    }
    .left__side h1 {
        display: block;
        padding-top: 70px;
    }
    .left__side h2 {
        display: block;
        padding-top: 28px;
    }
    .left__side p {
        display: none;
    }
    .img__benefits img {
        width: 325px;
        height: 356px;
    }
    .img__benefits {
        padding-top: 45px;
    }
    .description::after {
        visibility: hidden;
    }
    .left__side h1::after {
        visibility: visible;
    }
    .description h1 {
        display: none;
    }
    .description h2 {
        display: none;
    }
    .right__side {
        width: 350px;
        padding: 0;
        margin-left: 25px;
    }
    .description p {
        font-size: 14px;
    }
    .description__benefit article {
        font-size: 14px;
    }
    .service__top {
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        padding-top: 52px;
        margin-left: 14px;
    }
    .service__bot {
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        margin-left: 14px;
        margin-top: 9px;
    }
    .service__block {
        width: 345px;
        height: 320px;
    }
    .service__block-img {
        margin-top: 38px;
    }
    .service h1 {
        font-size: 28px;
        padding: 60px 0 50px 25px;
    }
    .service__block-p {
        padding: 40px 0 0 220px;
    }
    .service__block-p2 {
        padding: 30px 0 0 220px;
    }
    .service__block-p3 {
        padding: 20px 0 0 220px;
    }
    .buy-rent h1 {
        font-size: 28px;
        padding: 66px 0 0px 25px;
        width: 254px;
        height: 42px;
    }
    .buy__rent-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 98px 36px 50px 25px;
    }
    .buy__rent-img img {
        width: 300px;
        height: 300px;
    }
    .buy__rent-text :nth-child(1) {
        font-size: 20px;
    }
    .buy__rent-text :nth-child(2) {
        font-size: 14px;
        padding-top: 14px;
    }
    .buy__rent-btn {
        width: 142px;
        height: 43px;
        margin: 0;
        margin-right: 28px;
    }
    .buy__rent-btn2 {
        width: 142px;
        height: 43px;
        margin: 0;
    }
    .buy__rent-btn a {
        font-size: 14px;
    }
    .buy__rent-btn2 a {
        font-size: 14px;
    }
    .buy__rent-buttons {
        margin-top: 16px;
        width: 315px;
        display: flex;
    }
    .buy__rent:nth-child(2) {
        margin-top: 75px;
    }
    .buy__rent::after {
        display: block;
    }
    .service::after {
        display: block;
    }
    .buy-rent h1::before {
        display: block;
    }
}



