@media(max-width: 375px) {
	.technical {
		background-color: #44BCFF0D;
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	.technical__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.technical__left {
		margin: 0;
	}
	.technical__left h2 {
		font-size: 28px;
		margin-bottom: 55px;
	}
	
	.technical__left p {
		padding-top: 16px;
		font-size: 14px;
		font-weight: 600;
	}
	.technical__right2 {
	width: 325px;
	height: 356.87px;
	display: block;
	}
	.technical__right2 img {
	width: 325px;
	height: 356.87px;
	}
	.reminder {
		opacity: 0;
	}
	
	.technical__right {
		background: url(./img/technical__background.png) no-repeat 0 100%/ 100%;
		padding-top: 0;
		display: none;
	}
	.parts {
		display: flex;
		justify-content: center;
	}
	.parts__main {
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
	}
	
	.parts__left img {
		width: 325px;
		height: 356.87px;
	}
	.parts__left {
		width: 325px;
		height: 356.87px;
		margin: 0;
	}

	.parts__right {
		padding-left: 25px;
	}
	
	.parts__right h2 {
		font-size: 28px;
		padding-top: 53px;
    	padding-bottom: 51px;
		margin: 0;
	}
	
	.parts__right p {
		display: flex;
		align-items: center;
	}

	.service {
		padding: 0;
		margin: 0;
		width: 100%;
		background-color: #44BCFF0D;
		display: flex;
		flex-direction: column;
		justify-content: center;
	
	}
	
	
	.service h1 {
		font-size: 28px;
		padding: 0;
		color: #27292E;
	}
	
	
	.service h1::after {
		content: url(./img/group__circles.png);
		position: absolute;
		right: 1265px;
		top: 1800px;
		z-index: -1;
	}
	
	
	.service__top {
		display: flex;
		column-gap: 37px;
		justify-content: center;
		padding-top: 9px;
		flex-direction: column;
	}
	
	
	.service__bot {
		display: flex;
		column-gap: 37px;
		margin-top: 52px;
		justify-content: center;
		padding-bottom: 9px;
		flex-direction: column;
	}
	
	
	.service__block {
		width: 346.6px;
		height: 293px;
		background-color: white;
		border-radius: 20px;
		box-shadow: 0px 30.539325714111328px 61.078651428222656px 10.17977523803711px #EBEBEB33;
	}
	
	
	.service__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	
	.service__wrapper :nth-child(2) {
		font-size: 24px;
		color: #002533;
		padding-top: 25px;
	}
	
	
	.service__wrapper :nth-child(3) {
		padding-top: 28px;
	}
	
	
	.service__block-img {
		border-radius: 100px;
		background-color: #44BCFF;
		box-shadow: 0px 4px 70px rgba(91, 91, 91, 0.05);
		width: 97px;
		height: 97px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
	}
	
	
	.service__block-p {
		padding: 81px 39px 0px 326px;
	}
	
	
	.service__wrapper2 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	
	.service__wrapper2 :nth-child(2) {
		font-size: 24px;
		color: #002533;
		padding-top: 25px;
	}
	
	
	.service__wrapper2 :nth-child(3) {
		padding-top: 20px;
		text-align: center;
	}
	
	
	.service__block-p2 {
		padding: 50px 39px 0px 326px;
	}
	
	
	.service__wrapper3 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	
	.service__wrapper3 :nth-child(2) {
		font-size: 24px;
		color: #1F1F1F;
		padding-top: 16px;
	}
	
	
	.service__wrapper3 :nth-child(3) {
		padding-top: 20px;
		text-align: center;
	}
	
	
	.service__wrapper4 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	
	.service__wrapper4 :nth-child(2) {
		font-size: 24px;
		color: #1F1F1F;
		padding-top: 16px;
	}
	
	
	.service__wrapper4 :nth-child(3) {
		padding-top: 20px;
		text-align: center;
	}
	
	
	.service__block-p3 {
		padding: 24px 39px 0px 326px;
	}
}