@media (max-width: 375px) {
    
    .header__main ul {
        display: none;
    }
    .header__contact {
        display: none;
    }
    header :nth-child(1) {
        position: absolute;
        right: 50px; 
        top: 10px;
    }
    .wrapper {
        padding: 0;
        margin: 0;
    }
    .intro {
        width: 375px;
        height: 840px;
    }
    .intro__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .intro__left {
        width: 350px;
        margin-left: 25px;
    }
    .intro__left::after {
        visibility: hidden;
    }
    .intro__main::after {
        visibility: visible;
    }
    .intro__left h2 {
        font-size: 30px;
    }
    .intro__left h3 {
        font-size: 30px;
        padding-top: 10px;
    }
    .intro__left :nth-child(3) {
        font-size: 14px;
        padding-top: 20px;
    }
    .intro__btn {
        width: 155px;
        height: 50px;
        margin-right: 12px;
    }
    .intro__btn2 {
        width: 155px;
        height: 50px;
    }
    .intro__btn a {
        font-size: 15px;
    }
    .intro__btn2 a {
        font-size: 15px;
    }
    .tittle a {
        font-size: 10px;
        padding-top: 0;
    }
    .tittle {
        top: 390px;
        position: absolute;
    }
    .intro__right {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        margin-right: 75px;
    }
    .intro__right img {
        width: 345px;
        height: 380px;
    }
    .benefits {
        display: flex;
        flex-direction: column;

    }
    .left__side {
        margin-left: 25px;
    }
    .left__side h1 {
        display: block;
        padding-top: 70px;
    }
    .left__side h2 {
        display: block;
        padding-top: 28px;
    }
    .left__side p {
        display: none;
    }
    .img__benefits img {
        width: 325px;
        height: 356px;
    }
    .img__benefits {
        padding-top: 45px;
    }
    .description::after {
        visibility: hidden;
    }
    .left__side h1::after {
        visibility: visible;
    }
    .description h1 {
        display: none;
    }
    .description h2 {
        display: none;
    }
    .right__side {
        width: 350px;
        padding: 0;
        margin-left: 25px;
    }
    .description p {
        font-size: 14px;
    }
    .description__benefit article {
        font-size: 14px;
    }
    .service__top {
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        padding-top: 52px;
        margin-left: 14px;
    }
    .service__bot {
        display: flex;
        flex-direction: column;
        row-gap: 9px;
        margin-left: 14px;
        margin-top: 9px;
    }
    .service__block {
        width: 345px;
        height: 320px;
    }
    .service__block-img {
        margin-top: 38px;
    }
    .service h1 {
        font-size: 28px;
        padding: 60px 0 50px 25px;
    }
    .service__block-p {
        padding: 40px 0 0 220px;
    }
    .service__block-p2 {
        padding: 30px 0 0 220px;
    }
    .service__block-p3 {
        padding: 20px 0 0 220px;
    }
    .buy-rent h1 {
        font-size: 28px;
        padding: 66px 0 0px 25px;
        width: 254px;
        height: 42px;
    }
    .buy__rent-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 98px 36px 50px 25px;
    }
    .buy__rent-img img {
        width: 300px;
        height: 300px;
    }
    .buy__rent-text :nth-child(1) {
        font-size: 20px;
    }
    .buy__rent-text :nth-child(2) {
        font-size: 14px;
        padding-top: 14px;
    }
    .buy__rent-btn {
        width: 142px;
        height: 43px;
        margin: 0;
        margin-right: 28px;
    }
    .buy__rent-btn2 {
        width: 142px;
        height: 43px;
        margin: 0;
    }
    .buy__rent-btn a {
        font-size: 14px;
    }
    .buy__rent-btn2 a {
        font-size: 14px;
    }
    .buy__rent-buttons {
        margin-top: 16px;
        width: 315px;
        display: flex;
    }
    .buy__rent:nth-child(2) {
        margin-top: 75px;
    }
    .buy__rent::after {
        display: block;
    }
    .service::after {
        display: block;
    }
    .buy-rent h1::before {
        display: block;
    }
        .technical {
            background-color: #44BCFF0D;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .technical__main {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .technical__left {
            margin: 0;
        }
        .technical__left h2 {
            font-size: 28px;
            margin-bottom: 55px;
        }
        
        .technical__left p {
            padding-top: 16px;
            font-size: 14px;
            font-weight: 600;
        }
        .technical__right2 {
        width: 325px;
        height: 356.87px;
        display: block;
        }
        .technical__right2 img {
        width: 325px;
        height: 356.87px;
        }
        .reminder {
            opacity: 0;
        }
        
        .technical__right {
            background: url(./img/technical__background.png) no-repeat 0 100%/ 100%;
            padding-top: 0;
            display: none;
        }
        .parts {
            display: flex;
            justify-content: center;
        }
        .parts__main {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
        }
        
        .parts__left img {
            width: 325px;
            height: 356.87px;
        }
        .parts__left {
            width: 325px;
            height: 356.87px;
            margin: 0;
        }
    
        .parts__right {
            padding-left: 25px;
        }
        
        .parts__right h2 {
            font-size: 28px;
            padding-top: 53px;
            padding-bottom: 51px;
            margin: 0;
        }
        
        .parts__right p {
            display: flex;
            align-items: center;
        }

        .reviews h2 {
            font-size: 28px;
            line-height: 64px;
            margin-left: 0;
        }
        
        .reviews {
            padding-top: 128px;
            background-color: #44BCFF0D;
            width: 100%;
        }
        
        .reviews__main {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .header__reviews {
            display: flex;
        }
        
        .reviews__diana {
            width: 399px;
            height: 399px;
            border-radius: 18px;
            background-color: #FFFFFF;
            margin: 40px;
        }
        
        .contain__reviews img {
            width: 66px;
            height: 66px;
            padding: 0px 20px 28px 40px;
        }
        
        .pharagraf__name {
            font-weight: 700;
            font-size: 24px;
        }
        
        .pharagraf__contacts {
            font-weight: 400;
            font-size: 14px;
            color: rgba(0, 37, 51, 0.6);
        }
        
        .reviews__text {
            width: 319px;
            height: 180px;
            font-size: 14px;
            color: rgba(0, 37, 51, 0.6);
            line-height: 30px;
            text-align: center;
            padding-top: 10px;
        } 
        
        .contain__reviews {
            width: 319px;
            height: 340px;
            padding: 40px 40px;
            padding-top: 40px;
            background: url(./img/reviews__stars.png) no-repeat 37px 343px;
        }
        
        .reviews__elmira {
            width: 399px;
            height: 399px;
            border-radius: 18px;
            background-color: #FFFFFF;
            margin: 40px;
        }
        
        .reviews__sultan {
            width: 399px;
            height: 399px;
            border-radius: 18px;
            background-color: #FFFFFF;
            margin: 40px;
        }
        
        .reviews__nadejda {
            width: 399px;
            height: 399px;
            border-radius: 18px;
            background-color: #FFFFFF;
            margin: 40px;
        }
        
        .reviews__main__block1 {
            padding-top: 161px;
        }
        
        .reviews__main__block2 {
            padding-top: 82px;
        }

        footer {
            background-color: #44BCFF0D;
            padding-top: 51px;
        }
        
        .footer__logo-block {
            margin-left: 24px;
        }
        
        
        .footer__logo-text {
            font-size: 20px;
            padding-top: 27.77px;
            color: #585C65;
        }
        
        
        .footer__social {
            padding: 20px 0 30px 0;
            display: flex;
            column-gap: 28px;
            font-size: 14px;
        }
        
        
        .footer__social a {
            color: #44BCFF;
        }
        
        
        .develop-and-design {
            width: 162px;
            height: 48px;
            border-top: #00000033 1px solid;
            padding-top: 12px;
            color: #8B8B8B;
            font-size: 10px;
            margin-left: 24px;
            padding-bottom: 65px;
        }
        
        .footer__menu  {
            width: 160px;
            height: 270px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        
        .footer__menu p {
            font-size: 20px;
            color: #40434A;
        }
        
        
        .footer__menu ul {
            padding-top: 30px;
            list-style: none;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 18px;
        }
        
        
        .footer__menu ul li a {
            color: #70737C;
        }
        
        
        .footer__contacts  {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
        
        .footer__contacts p {
            font-size: 20px;
            color: #40434A;
        }
        
        
        .footer__contacts ul {
            padding-top: 30px;
            list-style: none;
            height: 148px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 18px;
            color: #70737C;
        }
        .footer__contain {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .footer__main__contacts {
            display: flex;
            justify-content: center;
            padding-top: 38px;
            align-items: baseline;
            padding-right: 38px;
            padding-left: 24px;
            }
}
