*,
body,
ul, li,
a,
h1, h2, h3,
p {
    margin: 0;
    padding: 0;
}

.header__contact a {
    text-decoration: none;
    color: #8B8B8B;
}

.header {
    background-color: #44BCFF0D;
}

.wrapper {
    padding: 0 150px;
}
.header__main {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 577px;
    color: #8B8B8B;
}
.header__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    background-color: #44BCFF0D;
    width: 100%;
}

.intro__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 148px;
}
.intro__left   {
    display: flex;
    flex-direction: column;
    width: 530px;
}
.intro__left::after {
    content: '';
    position: absolute;
    top: 23%;
    bottom: 0;
    right: 0;
    left: 7%;
    max-width: 121px;
    max-height: 121px;
    background: url(./img/pic.png) no-repeat top left/ contain;
}
.intro__main::after {
    content: url(./img/group__circles-mobile.png);
    position: absolute;
    top: 23%;
    left: 5%;
    visibility: hidden;
}
.intro__left h2 {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 36px;
    color: #06060D;
}
.intro__left h3 {
    font-family: 'Nunito Sans';
    font-size: 58px;
    padding-top: 15px;
    color: #27292E;
}
.intro__left :nth-child(5) {
    font-family: 'Outfit';
    font-size: 18px;
    padding-top: 32px;
}
.intro__btn {
    margin-top: 32px;
    margin-right: 30px;
    width: 205px;
    height: 62px;
    background: #44BCFF;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.intro__btn a {
    color: white;
    font-size: 18px;
}
.intro__btn2 {
    margin-top: 32px;
    width: 205px;
    height: 62px;
    background: white;
    border-radius: 12px;
    color: #44BCFF;
    font-family: 'Nunito Sans';
    font-size: 18px;
    border: 2px solid #44BCFF;
    cursor: pointer;
}
.tittle a {
    padding-top: 32px;
    font-size: 10px;
    text-decoration: underline;
}
.intro__right {
    background: url('./img/back_intro_right.png') no-repeat 0 100%/ 100%;
}


.benefits {
    display: flex;
}

.img__benefits {
    padding: 70px 0 0px 0;
}


.left__side p {
    padding: 15px 0 63px 0;
    font-size: 10px;
}


.left__side h1 {
    font-size: 28px;
    color: #27292E;
    display: none;
}


.left__side h2 {
    font-size: 14px;
    color: #535353;
    display: none;
}


.right__side {
    padding: 90px 0 60px 80px;
}


.description h1  {
    font-size: 48px;
    padding-left: 35px;
    color: #27292E;
}


.description h2 {
    font-size: 18px;
    color: #535353;
    padding-top: 22px;
    padding-left: 35px;
}


.description::after {
    content: url(./img/group__circles.png);
    position: absolute;
    top: 1025px;
    right: 260px;
    z-index: -1;
}


.left__side h1::after {
    content: url(./img/group__circles-mobile.png);
    position: absolute;
    top: 890px;
    right: 280px;
    z-index: -1;
    visibility: hidden;
}


.description__benefit {
    padding-top: 22px;
}


.description p {
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: 13px;
    padding-top: 16px;
}


.description__benefit article {
    padding: 2px 0 0 35px;
}

.technical {
    background-color: #44BCFF0D;
    width: 100%;
}

.technical__main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.technical__left {
    margin-right: 80px;
}

.technical__left h2 {
    font-size: 48px;
    margin-bottom: 81px;
}

.technical__left p {
    display: flex;
    align-items: center;
    column-gap: 13px;
    padding-top: 16px;
}

.reminder {
    font-size: 10px;
    padding-top: 38px;
}
.technical__right2 {
    background: url(./img/technical__background.png) no-repeat 0 100%/ 100%;
    /* padding-top: 264px; */
    display: none;
}

.technical__right {
    background: url(./img/technical__background.png) no-repeat 0 100%/ 100%;
    padding-top: 264px;
}

.parts__main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 77px;
    margin-bottom: 106px;
}

.parts__left {
    margin-right: 79px;
}

.parts__right h2 {
    font-size: 48px;
    margin-bottom: 81px;
    padding-top: 77px;
}

.parts__right p {
    display: flex;
    align-items: center;
    column-gap: 13px;
    padding-top: 16px;
}

.service {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #44BCFF0D;
}


.service h1 {
    font-size: 48px;
    padding: 54px 0 0 187px;
    color: #27292E;
}


.service h1::after {
    content: url(./img/group__circles.png);
    position: absolute;
    right: 1265px;
    top: 1800px;
    z-index: -1;
}


.service__top {
    display: flex;
    column-gap: 37px;
    justify-content: center;
    padding-top: 70px;
    margin-left: 25px;
}


.service__bot {
    display: flex;
    column-gap: 37px;
    margin-top: 52px;
    justify-content: center;
    padding-bottom: 93px;
    margin-left: 25px;
}


.service__block {
    width: 454px;
    height: 384px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 30.539325714111328px 61.078651428222656px 10.17977523803711px #EBEBEB33;
}


.service__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.service__wrapper :nth-child(2) {
    font-size: 24px;
    color: #002533;
    padding-top: 25px;
}


.service__wrapper :nth-child(3) {
    padding-top: 28px;
}


.service__block-img {
    border-radius: 100px;
    background-color: #44BCFF;
    box-shadow: 0px 4px 70px rgba(91, 91, 91, 0.05);
    width: 97px;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.service__block-p {
    padding: 81px 39px 0px 326px;
    
}


.service__wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.service__wrapper2 :nth-child(2) {
    font-size: 24px;
    color: #002533;
    padding-top: 25px;
}


.service__wrapper2 :nth-child(3) {
    padding-top: 20px;
    text-align: center;
}


.service__block-p2 {
    padding: 50px 39px 0px 326px;
}


.service__wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.service__wrapper3 :nth-child(2) {
    font-size: 24px;
    color: #1F1F1F;
    padding-top: 16px;
}


.service__wrapper3 :nth-child(3) {
    padding-top: 20px;
    text-align: center;
}


.service__wrapper4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.service__wrapper4 :nth-child(2) {
    font-size: 24px;
    color: #1F1F1F;
    padding-top: 16px;
}


.service__wrapper4 :nth-child(3) {
    padding-top: 20px;
    text-align: center;
}


.service__block-p3 {
    padding: 24px 39px 0px 326px;
}


.buy-rent h1 {
    font-size: 48px;
    padding: 80px 150px 0 834px;
    color: #27292E;
}


.buy-rent h1::after {
    content: url(./img/group__circles.png);
    position: absolute;
    z-index: -1;
    left: 1200px;
    top: 2925px;
}

/* покупка и аренда, псевдоэлемент мелкие круги  */
.buy-rent h1::before {
    content: url(./img/group__circles-mobile.png);
    position: absolute;
    z-index: -1;
    top: 5600px;
    right: 280px;
    display: none;
}


.buy__rent-block {
    padding: 126px 196px 74px 197px;
    display: flex;
    column-gap: 50px;
}


.buy__rent {
    display: flex;
    flex-direction: column;
}

/* покупка и аренда, псевдоэлемент для первой машины */
.buy__rent::after {
    content: '';
    position: absolute;
    background-color: #44BCFF0D;
    width: 300px;
    height: 336px;
    border-radius: 122px 0;
    top: 5750px;
    z-index: -1;
    display: none;
}

/* покупка и аренда, псевдоэлемент для второй машины */
.service::after {
    content: '';
    position: absolute;
    background-color: #44BCFF0D;
    width: 300px;
    height: 336px;
    border-radius: 122px 0;
    top: 6335px;
    right: 50px;
    z-index: -1;
    display: none;
}


.buy__rent-text {
    padding-top: 70px;
}


.buy__rent-text :nth-child(1) {
    color: #06060D;
    font-size: 28px;
}


.buy__rent-text :nth-child(2) {
    color: #535353;
    font-size: 20px;
    padding-top: 21px;
}


.buy__rent-buttons {
    margin-top: 24px;
}


.buy__rent-btn {
    border-radius: 12px;
    background-color: #44BCFF;
    border-color: transparent;
    width: 205px;
    height: 62px;
    margin-top: 24px;
}


.buy__rent-btn a {
    color: white;
    font-size: 18px;
}


.buy__rent-btn2 {
    border-radius: 12px;
    background-color: white;
    border: #44BCFF solid 2px;
    width: 205px;
    height: 62px;
    margin-top: 24px;
    margin-left: 41px;
}


.buy__rent-btn2 a {
    color: #44BCFF;
    font-size: 18px;
}

.reviews h2 {
    font-size: 48px;
    line-height: 64px;
    margin-left: 187px;
}

.reviews {
    padding-top: 128px;
    background-color: #44BCFF0D;
    width: 100%;
}

.reviews__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header__reviews {
    display: flex;
}

.reviews__diana {
    width: 399px;
    height: 399px;
    border-radius: 18px;
    background-color: #FFFFFF;
    margin: 40px;
}

.contain__reviews img {
    width: 66px;
    height: 66px;
    padding: 0px 20px 28px 40px;
}

.pharagraf__name {
    font-weight: 700;
    font-size: 24px;
}

.pharagraf__contacts {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 37, 51, 0.6);
}

.reviews__text {
    width: 319px;
    height: 180px;
    font-size: 14px;
    color: rgba(0, 37, 51, 0.6);
    line-height: 30px;
    text-align: center;
    padding-top: 10px;
} 

.contain__reviews {
    width: 319px;
    height: 340px;
    padding: 40px 40px;
    padding-top: 40px;
    background: url(./img/reviews__stars.png) no-repeat 37px 343px;
}

.reviews__elmira {
    width: 399px;
    height: 399px;
    border-radius: 18px;
    background-color: #FFFFFF;
    margin: 40px;
}

.reviews__sultan {
    width: 399px;
    height: 399px;
    border-radius: 18px;
    background-color: #FFFFFF;
    margin: 40px;
}

.reviews__nadejda {
    width: 399px;
    height: 399px;
    border-radius: 18px;
    background-color: #FFFFFF;
    margin: 40px;
}

.reviews__main__block1 {
    padding-top: 161px;
}

.reviews__main__block2 {
    padding-top: 82px;
}

footer {
    background-color: #44BCFF0D;
    padding-top: 88px;
}

.footer__logo-block {
    margin-left: 150px;
    padding-top: 60px;
}


.footer__logo-text {
    font-size: 20px;
    padding-top: 40px;
    color: #585C65;
}


.footer__social {
    padding: 28px 0 30px 0;
    display: flex;
    column-gap: 28px;
    font-size: 14px;
}


.footer__social a {
    color: #44BCFF;
}


.develop-and-design {
    width: 162px;
    height: 48px;
    border-top: #00000033 1px solid;
    padding-top: 12px;
    color: #8B8B8B;
    font-size: 10px;
    margin-left: 150px;
    padding-bottom: 61px;
}

.footer__menu  {
    width: 160px;
    height: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer__menu p {
    font-size: 20px;
    color: #40434A;
}


.footer__menu ul {
    padding-top: 30px;
    list-style: none;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
}


.footer__menu ul li a {
    color: #70737C;
}


.footer__contacts  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer__contacts p {
    font-size: 20px;
    color: #40434A;
}


.footer__contacts ul {
    padding-top: 30px;
    list-style: none;
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 18px;
    color: #70737C;
}
.footer__contain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__main__contacts {
    display: flex;
    justify-content: center;
    padding-top: 61px;
    align-items: baseline;
    padding-right: 150px;
    padding-left: 150px;
}

