*,
body,
ul, li,
a,
h1, h2, h3,
p {
    margin: 0;
    padding: 0;
}
body {
	padding: 0 150px;
}
.header {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 577px;
    color: #8B8B8B;
}
.header__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}