* {
    padding: 0;
    margin: 0;
}


.logo {
    display: flex;
    column-gap: 20px;
    
}


.logo__object {
    background-color: #44BCFF;
    width: 50px;
    height: 50px;
    border-radius: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    margin: 50px 0 0 150px;
}

