*,
body,
ul, li,
a,
h1, h2, h3,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
	padding: 0 150px;
}
.header {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 577px;
    color: #8B8B8B;
}
.header__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 148px;
}
.intro__left   {
    display: flex;
    flex-direction: column;
    width: 530px;
}
.intro__left::after {
    content: '';
    position: absolute;
    top: 23%;
    bottom: 0;
    right: 0;
    left: 7%;
    max-width: 121px;
    max-height: 121px;
    background: url(./img/pic.png) no-repeat top left/ contain;
}
.intro__left h2 {
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 36px;
}
.intro__left h3 {
    font-family: 'Nunito Sans';
    font-size: 58px;
    padding-top: 15px;
}
.intro__left p {
    font-family: 'Outfit';
    font-size: 18px;
    padding-top: 32px;
}
.intro__btn {
    margin-top: 32px;
    margin-right: 30px;
    width: 205px;
    height: 62px;
    background: #44BCFF;
    border-radius: 12px;
    color: white;
    font-family: 'Nunito Sans';
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.intro__btn2 {
    margin-top: 32px;
    width: 205px;
    height: 62px;
    background: white;
    border-radius: 12px;
    color: #44BCFF;
    font-family: 'Nunito Sans';
    font-size: 18px;
    border: 2px solid #44BCFF;
    cursor: pointer;
}
.intro__left a {
    padding-top: 32px;
    font-size: 10px;
    text-decoration: underline;
}
.intro__right {
    background: url('./back_intro_right.png') no-repeat 0 100%/ 100%;
}


.benefits {
    display: flex;
}

.img__benefits {
    padding: 70px 0 0px 0;
}


.left__side p {
    padding: 15px 0 63px 0;
    font-size: 10px;
}


.right__side {
    padding: 90px 0 60px 80px;
}


.description h1  {
    font-size: 48px;
    padding-left: 35px;
}


.description h2 {
    font-size: 18px;
    color: #535353;
    padding-top: 22px;
    padding-left: 35px;
}


.description::after {
    content: url(./img/group__circles.png);
    position: absolute;
    top: 180px;
    right: 305px;
    z-index: -1;
}


.description__benefit {
    padding-top: 22px;
}


.description p {
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: 13px;
    padding-top: 16px;
}


.description__benefit article {
    padding: 2px 0 0 35px;
}