*,
body,
ul, li,
a,
h1, h2, h3,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
	padding: 0 150px;
}
.header {
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 577px;
    color: #8B8B8B;
}
.header__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.benefits {
    display: flex;
}

.img__benefits {
    padding: 70px 0 0px 0;
}


.left__side p {
    padding: 15px 0 63px 0;
    font-size: 10px;
}


.right__side {
    padding: 90px 0 60px 80px;
}


.description h1  {
    font-size: 48px;
}


.description h2 {
    font-size: 18px;
    color: #535353;
    padding-top: 22px;
}


.description::after {
    content: url(./img/group__circles.png);
    position: absolute;
    top: 180px;
    right: 335px;
    z-index: -1;
}


.description__benefit {
    padding-top: 22px;
}


.description p {
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: 13px;
    padding-top: 16px;
}


.description__benefit article {
    padding: 2px 0 0 35px;
}